.app-header {
    height: 35px;
    margin: 0px 0px 0px 0px;
    padding: 10px 4px 0px 10px;
    background-color: #303030;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
