.application-header-selector {
    float: left;
    width: 40px;
    margin: 0px 0px 0px 0px;
    .application-header-selector__icon {
        margin: 1px 0px 0px 5px;
        color: #0e5f8a;
        &:hover {
            cursor: hand;
        }
    }
    .application-header-selector__content {
        position: absolute;
        z-index: 1000;
        width: 25%;
        margin: 2px 0px 0px -25px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #333333;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);

        ul {
            width: 100%;
            float: left;
            left: 0;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 10px 30px;
            list-style: none;
            text-align: left;
            li {
                margin: 0px 30px 0px 0px;
                padding: 8px 0px 8px 0px;
                i {
                    color: #093f5c;
                }
                a {
                    color: #093f5c;
                    text-decoration: none;
                }
                &:hover {
                    background-color: #efefef;
                }
            }
        }
    }
}
