.application-header-name {
    float: left;
    margin: 0px 0px 0px 0px;
    h4 {
        margin: 7px 15px 0px 15px;
        padding: 0px 0px 0px 0px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        color: #ffffff;
    }
}
